@charset "ISO-8859-1";


*{
	margin: 0;
	padding: 0;
	
	
}



.show{
	
	
width: 550px;
height: 250px;

margin-top: 50px;
box-shadow: -1px 0 10px #000000;
border-radius: 20px
	
}


body{
background-color:rgb(193,193,193)
	
	
	
	
}